<h1 class="heading">About</h1>
<p>
    Ever heard of a site called <b>Facebook</b>? Chances are that you have, and you use it daily. <b>Mark Zuckerberg</b> created the
    site in his dorm room at Harvard, back in 2003. The site became very successful in less than a year. But the idea for Facebook
    didn't come to him in his sleep. A little while before he started working on Facebook, he made something called <b>Facemash</b>,
    which took two photos of female Harvard students and put them side-by-side, to compare them. This was Harvard's version of
    the Hot-or-Not game. How did he get the photos, you ask? He hacked (actually, programmatically <i>scraped</i>) into the public
    facebooks of each of the houses, starting with the Kirkland house. His site became popular almost overnight, with <b>22,000</b> hits
    by morning. There were many problems with the site, including copyright and privacy issues. He eventually had to take it down
    permanently, due to the criticism from his peers and the institution. That did not set him back though, he knew right after that
    what his next project would be...
</p>
<p>
    You may have noticed that the name of this site is Face<i>clash</i>, not Facemash. Why? Because there's already a
    Facemash. And the design is a bit more original. This revamped version of Zuckerberg's site has some features that weren't in the
    original one. I made Faceclash in a little bit over three weeks, it initially started out as a learning project with the <b>SQL</b> and
    <b>AJAX</b> technologies. Also, it was for learning how the <b>Elo rating algorithm</b> worked.
</p>