<h1 class="heading">Settings</h1>
<p>You can configure Faceclash to your liking here.</p>
<form data-form="settings">
    <ul class="list-items">
        <li>
            <select id="settings_gender">
                <option selected disabled>Which gender do you prefer seeing?</option>
                <option value="f">Female</option>
                <option value="m">Male</option>
            </select>
        </li>
    </ul>
    <ul class="buttons">
        <li><input type="submit" data-action="save_settings" value="Save" class="button"></li>
        <li><input type="reset" data-action="reset" value="Reset" class="button"></li>
    </ul>
</form>