@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);
/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, code, em, strong, b, i, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, section{
    border: 0;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
*, *:before, *:after{
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body, input, textarea, select{
    background: #4d384d;
    border: 0;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    line-height: 1;
    overflow-x: hidden;
}
body{
    line-height: 1;
    overflow-x: hidden;
}
a{
    color: inherit;
    text-decoration: none;
}
em, i{
    font-style: italic;
}
strong, b{
    font-weight: 600;
}
h1{
    font-size: 1.75em;
}
h2{
    font-size: 1.35em;
}
h3{
    font-size: 1.15em;
}
p{
    line-height: 1.5;
}
ul, ol{
    list-style-type: none;
}
/* Form */
input, select{
    -moz-appearance: none;
    -webkit-appearance: none;
}
input[disabled], select[disabled]{
    background: rgba(255, 255, 255, 0.05) !important;
    cursor: not-allowed;
}
input[type="text"], input[type="number"], input[type="password"], input[type="email"], textarea, select{
    border: 1px solid #a679a6;
    border-radius: 4px;
    padding: 0.75em 0.5em;
    transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
}
input[type="file"]{
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
input[type="text"], input[type="number"], input[type="password"], input[type="email"], select{
    width: 50%;
}
textarea{
    height: 8em;
    resize: vertical;
    width: 100%;
}
input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus, select:focus{
    background: rgba(255, 255, 255, 0.025);
    box-shadow: 0 0 0 1px #a679a6;
}
select{
    line-height: 20px; /* To prevent a few pixels on the bottom from being cut off */
}
option{
    background: #664b66;
}
select, option:first-child{
    color: rgba(255, 255, 255, 0.5) !important;
}
option:not(:first-child){
    color: #ffffff;
}
/* Wrapper */
#wrapper{
    min-height: 100%;
    position: relative;
}
/* Header */
#header, #footer{
    background: #664a66;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0.5em;
    transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    width: 100%;
}
#header .list *{
    transition: 0.1s all ease-in-out;
    -webkit-transition: 0.1s all ease-in-out;
}
#header .list li{
    border-radius: 4px;
    display: inline-block;
    font-size: 1.313em;
    text-align: center;
    text-transform: lowercase;
}
#header .list .logo{
    background: linear-gradient(180deg, #b691b6 0%, #875a87 100%);
    background: -webkit-linear-gradient(top, #b691b6 0%, #875a87 100%);
    font-weight: bold;
}
#header .list .submit{
    background: #a679a6;
    float: right;
}
#header .list li:not(.logo):hover, .button:hover{
    background: rgba(166, 121, 166, 0.75);
}
#header .list li:not(.logo):active, .button:active{
    background: #875a87;
}
#header .list li a{
    display: block;
    padding: 0.5em 1em;
}
#header.fixed{
    animation: slide-in 0.8s ease-in-out forwards;
    -webkit-animation: slide-in 0.8s ease-in-out forwards;
}
@keyframes slide-in{
    0%{
        top: -100%;
    }
    100%{
        position: fixed;
        top: 0;
        z-index: 10;
    }
}
@-webkit-keyframes slide-in{
    0%{
        top: -100%;
    }
    100%{
        position: fixed;
        top: 0;
        z-index: 10;
    }
}
/* Content */
#content{
    display: none;
    padding-bottom: 5em;
}
#content a, #no-js a, #footer a{
    border-bottom: 1px dotted #c6a9c6;
    color: #c6a9c6;
    transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
}
#content a:hover, #no-js a:hover, #footer a:hover{
    border-bottom-color: transparent;
}
#content, #content > *, #no-js, #no-js > *, .first-message > *, .buttons, .img-preview{
    margin-top: 1.5em;
}
#content, #no-js{
    margin: auto;
    margin-top: 5em;
    max-width: 75%;
}
#content > :last-child, #no-js, #no-js > :last-child, .first-message > :last-child{
    margin-bottom: 1.5em;
}
#no-js{
    background: #cd5c5c;
    border-radius: 4px;
    padding: 0.5em 1em;
}
#counter{
    font-style: italic;
}
#preview{
    border-radius: 4px;
    height: auto;
    margin-top: 0.5em;
    max-width: 300px;
}
/* Footer */
#footer{
    bottom: 0;
    position: absolute;
}
#footer .list li{
    display: inline-block;
    font-size: 1.313em;
    text-transform: lowercase;
}
#footer .list li:not(:first-child):before{
    content: "\00b7";
    padding: 0 0.5em;
}
#dashboard-display{
    text-align: initial;
}
#leaderboard-display .buttons, #dashboard-display .buttons{
    text-align: center;
}
#player_img{
    cursor: default;
    margin: 1.5em 0 0 0;
    transform: none;
}
/* Classes */
.blink{
    animation: blink 2500ms ease-in-out infinite;
    -webkit-animation: blink 2500ms ease-in-out infinite;
}
@keyframes blink{
    0%{
        background: rgba(166, 121, 166, 0.5);
    }
    50%{
        background: #a679a6;
    }
    100%{
        background: rgba(166, 121, 166, 0.5);
    }
}
@-webkit-keyframes blink{
    0%{
        background: rgba(166, 121, 166, 0.5);
    }
    50%{
        background: #a679a6;
    }
    100%{
        background: rgba(166, 121, 166, 0.5);
    }
}
.first-message, #main-display{
    text-align: center !important;
}
.heading{
    font-weight: 600;
}
.modal{
    background: rgba(77, 56, 77, 0.85);
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}
.modal .close{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 2%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='20' y2='20' /%3E%3Cline x1='20' y1='0' x2='0' y2='20' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 4em;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.2s background ease-in-out;
    -webkit-transition: 0.2s background ease-in-out;
    width: 4em;
}
.modal .close:hover{
    background-color: #cd5c5c;
}
.modal .close:active{
    background-color: #b85252;
}
.modal .content{
    font-size: 1.75em;
    line-height: 1.5;
    margin: 15% auto;
    max-width: 90%;
    padding: 1em;
    text-align: center;
}
.button{
    background: #a679a6;
    border: 0;
    border-radius: 4px;
    color: inherit;
    cursor: pointer;
    font-size: 1.313em;
    outline: 0;
    padding: 0.5em 1em;
    text-transform: lowercase;
    transition: 0.1s all ease-in-out;
    -webkit-transition: 0.1s all ease-in-out;
}
.upload-button{
    margin-top: 1.5em;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 50%;
}
.buttons li{
    display: inline-block;
}
.buttons li .button{
    width: 100%;
}
/* Button colors */
.button.r-button{
    background: #cd5c5c;
}
.button.r-button:hover{
    background: rgba(205, 92, 92, 0.75);
}
.button.r-button:active{
    background: #a44949;
}
.button.g-button{
    background: #319432;
}
.button.g-button:hover{
    background: rgba(49, 148, 50, 0.75);
}
.button.g-button:active{
    background: #277628;
}
.button.b-button{
    background: #668b8b;
}
.button.b-button:hover{
    background: rgba(102, 139, 139, 0.75);
}
.button.b-button:active{
    background: #516f6f;
}
.list-items li{
    margin-top: 0.5em;
}
.list-items .name{
    font-size: 1.4em;
    font-weight: bold;
}
/* Image layouts */
.img-preview{
    display: none;
}
.img-preview *{
    text-align: left;
}
.img-display{
    margin: 0 auto;
    text-align: left;
}
.img-player{
    border-radius: 4px;
    cursor: pointer;
    height: auto;
    margin: 0.25em;
    transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
    max-width: 100%;
    user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}
.img-player:hover{
    transform: scale(0.97);
    -webkit-transform: scale(0.97);
}
.container-player{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
}
.container-player:hover > .player-items{
    background: rgba(77, 56, 77, 0.7);
    opacity: 1;
}
.player-items{
    height: 100%;
    opacity: 0;
    padding: 1.5em 1em 0 1em;
    position: absolute;
    text-align: left;
    top: 0;
    transition: inherit;
    -webkit-transition: inherit;
    width: 100%;
}
.rank{
    display: inline-block;
    font-size: 2.5em;
    font-weight: bold;
}
.container-player:nth-child(1) .rank, .container-player:nth-child(2) .rank, .container-player:nth-child(3) .rank{
    border: 4px solid;
    border-radius: 50%;
    font-size: 3em;
    height: 64px;
    line-height: 0;
    padding-top: 0.55em;
    text-align: center;
    vertical-align: middle;
    width: 64px;
}
.container-player:nth-child(1) .rank{
    background: #a99623;
    border-color: #baab4e;
}
.container-player:nth-child(2) .rank{
    background: #707070;
    border-color: #8c8c8c;
}
.container-player:nth-child(3) .rank{
    background: #9c7f48;
    border-color: #af986c;
}
.container-report{
    background: #875a87;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0.5em;
    padding: 1em;
    transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
}
.container-report:hover{
    background: rgba(135, 90, 135, 0.75);
}
.container-report .heading{
    margin-bottom: 0.5em;
}
.container-report .text{
    margin-top: 0.5em;
    word-wrap: break-word;
}
@media screen and (max-width: 736px){
    input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="file"], select, .buttons, .buttons li, .upload-button{
        width: 100%;
    }
    #header .list{
        column-gap: 0.25em;
        -moz-column-gap: 0.25em;
        -webkit-column-gap: 0.25em;
        columns: 3;
        -moz-columns: 3;
        -webkit-columns: 3;
    }
    #header .list li, #footer .list{
        text-align: center;
    }
    #header .list li{
        display: block;
    }
    #header .list .submit{
        float: none;
    }
    #content, #no-js{
        max-width: 90%;
    }
    .buttons li + li{
        margin-top: 0.25em;
    }
}
@media screen and (max-width: 480px){
    #header .list, #footer .list{
        columns: auto;
        -moz-columns: auto;
        -webkit-columns: auto;
        margin: 0;
    }
    #header .list li:not(.logo):not(.submit), #footer .list li{
        margin: 0.25em 0;
    }
    #header.fixed{
        padding: 0;
    }
    #header.fixed .list .logo{
        border-radius: 0;
    }
    #header.fixed .list li:not(.logo){
        display: none;
    }
    #footer .list li{
        display: block;
    }
    #footer .list li:not(:first-child):before{
        content: "";
        padding: 0;
    }
    #player_img, .img-display, .img-preview, .img-view{
        text-align: center !important;
    }
}